body {
    background-color: rgb(7, 123, 158);
}

div {
    display: inline-block;
    text-align: center;
}

nav button {
    font-size: 2em;
}

button {
    color: black;
    background-color: rgb(238, 187, 238);
    border-color: rgb(120, 11, 221);
    font-variant-caps: all-small-caps;
}

button:hover {
    background-color: rgb(194, 153, 194);
    border-color: rgb(93, 8, 172);
}

button.unimplemented {
    background-color: rgb(120, 11, 221);
    border-color: rgb(55, 6, 100);
    color: gray;
}

button:disabled {
    border-color: rgb(73, 7, 134);
    background-color: rgb(117, 91, 117);
    color: black;
}

.digimon-stats {
    background-color: rgb(235, 146, 253);
    border: 1px solid black;
    padding: 5% 0%;
    width: 100%;
}

.battle-stat {
    display: none;
}

.bold {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-background {
    position: relative;
    width: 80%;
    height: 80%;
    top: 10%;
    background-color: red;
}

#close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    font-size: 2em;
    font-weight: bold;
}

#game-info {
    display: none;
}

/********************/
/***** MAP INFO *****/
/********************/
div.maps {
    text-transform: uppercase;
    font-size: 2em;
}

div.maps a {
    text-decoration: none;
    color: black;
}

#maps-menu-ds {
    display: none;
    left: 10%;
    width: 100%;
    padding: 1% 0;
    background-color: yellow;
}

#current-map-ds {
    margin: 1%;
    height: 100%;
    width: 98%;
    background-color: pink;
}

.enemy-digimon-image-box {
    width: 100%;
    /* Tallest Digimon is Vikemon at 186px so far */
    /* NOTE: It works, but it's too much blank space and looks bad for smaller Digimon, might look better once the background is added */
    height: 186px;
    overflow: hidden;
}

#attack-button-ds, #flee-button-ds {
    display: block;
    margin: auto;   /* This line centers items */
}

/*********************/
/* STARTER SELECTION */
/*********************/
div#starter-selection section {
    padding: 5% 0;
    margin: 1%;
    border: 2px solid black;
    background: linear-gradient(to bottom, rgb(14, 160, 99), rgb(12, 80, 38));
}

div.starter-digimon-list {
    display: flex;
    justify-content: space-evenly;
}

.starter-selection {
    position: relative;
    border: 2px solid black;
    padding: 5% 0;
    width: 30%;
    height: auto;
    background-color: rgb(73, 84, 240);
}

.starter-digimon-image-box {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.starter-digimon-image-box img, .enemy-digimon-image-box img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: bottom;
}

/*********************/
/*** PARTY SECTION ***/
/*********************/
.party-digimon {
    display: none;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(47, 206, 255);
}

.party-digimon h2 {
    color: rgb(12, 70, 10);
    font-size: 2em;
}

#party-box {
    padding: 2%;
    background-color: rgb(36, 49, 233);
}

div#game-info, div#game-ds {
    width: 100%;
}